include layout

block content
    body
        div(data-role="header")
            h1 4TEG Explore

        ul(data-role="listview")
            each item in data.items
                li
                    a(href="/venue?id=#{item.venue.id}") #{item.venue.name}
